# 根目录
root = true

# 所有文件通用 #
[*]

# Windows风格换行
end_of_line = crlf

# 针对JS/TS文件 # !【2023-10-14 00:57:21】不知为何，启用了就无法识别
# [*.{js, ts, mjs, cjs, json}]

# 单引号
quote_type = single

# 缩进风格
indent_style = tab # ! 使用Tab缩进（但对齐使用空格）
indent_size = 4
tab_width = 4

# 字符编码
charset = utf-8

# 文件末尾插入换行
insert_final_newline = true

# 删除行尾空格
trim_trailing_whitespace = true

# 起始花括号同一行
curly_bracket_next_line = false

# 运算符环绕空格
spaces_around_operators = true
