/* 屏显 */
#screen {
	/* 保留空格 */
	white-space: pre;
	/* 等宽字体 */
	font-family: Consolas, Monaco, 'Courier New', monospace;
	font-size: smaller;
}

/* 附加信息 */
#otherInf {
	/* 字体 */
	font-family: Consolas, Monaco, 'Courier New', monospace;
	font-size: medium;
	font-weight: inherit;
}

#control {
	/* 输入框宽度 */
	width: 250px;
	/* 输入框高度 */
	height: 40px;
	/* 字体 */
	font-family: Arial, Helvetica, sans-serif;
	/* 字体大小 */
	font-size: 14px;
	/* 内边距 */
	padding: 5px;
	/* 边框圆角 */
	border-radius: 4px;
}

/* 输入框样式 */
input[type='text'] {
	/* 输入框宽度 */
	width: 300px;
	/* 输入框高度 */
	height: 40px;
	/* 字体 */
	font-family: Arial, Helvetica, sans-serif;
	/* 字体大小 */
	font-size: 14px;
	/* 内边距 */
	padding: 5px;
	/* 边框样式 */
	border: 5px solid #ccc;
	/* 边框圆角 */
	border-radius: 4px;
}

/* 输入框的placeholder样式 */
input[type='text']::placeholder {
	color: #999;
	/* 文字颜色 */
}
